body {
    background: #f1f1f1;
    font-family: 'roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}
/**********header*************/
.topbar {
    background: #2c3e50;
}